llama.cpp/ 
__pycache__/
nous-hermes/ 
.locks/
hf_models/
llama-factory/
all_cves_combined.json
.python-version
nvd_files/
exploitdb/
metasploit-framework/
metasploit_dataset.json
full_exploit_dataset.json
os_linux_dataset.json
os_linux_kernel_dataset.json
