llama.cpp/ 
__pycache__/
nous-hermes/ 
.locks/
hf_models/
llama-factory/
nvd_cve_cpe_dataset.json
all_cves_combined.json
.python-version
nvd_cve_dataset.json
code/databases/exploitdb
metasploit-framework/
full_exploit_dataset.json
os_linux_dataset.json
os_linux_kernel_dataset.json
code.txt
blackboard.json
